
<link rel="stylesheet" href="/stylesheets/navbar.css">

<nav class="mega-menu">
    <div class="logo">
        <a href="/">
            <img src="images/65th_logo_yamaha.webp" alt="Yamaha Logo">
        </a>
    </div>
    <ul class="nav-list">
        <!-- หน้าหลัก -->
        <li>
            <a href="#">หน้าหลัก</a>
            <div class="dropdown-content">
                <div class="header">เกี่ยวกับเรา</div>
                <div class="row">
                    <div class="column">
                        <h3>ยินดีต้อนรับ</h3>
                        <a href="#">หน้าแรกเว็บไซต์</a>
                        <a href="#">ข้อมูลสำคัญ</a>
                    </div>
                    <div class="column">
                        <h3>ประวัติ</h3>
                        <a href="#">เรื่องราวของเรา</a>
                        <a href="#">เป้าหมายองค์กร</a>
                    </div>
                </div>
            </div>
        </li>

        <!-- ผลิตภัณฑ์ -->
        <li>
            <a href="#">ผลิตภัณฑ์</a>
            <div class="dropdown-content">
                <div class="header">สินค้าและบริการ</div>
                <div class="row">
                    <div class="column">
                        <h3>มอเตอร์ไซค์</h3>
                        <a href="#">รุ่นยอดนิยม</a>
                        <a href="#">รถครอบครัว</a>
                        <a href="#">รถออโตเมติก</a>
                    </div>
                    <div class="column">
                        <h3>อะไหล่และอุปกรณ์</h3>
                        <a href="#">อะไหล่แท้</a>
                        <a href="#">อุปกรณ์แต่งรถ</a>
                        <a href="#">การรับประกัน</a>
                    </div>
                </div>
            </div>
        </li>

        <!-- ออนไลน์ช้อป -->
        <li>
            <a href="#">ออนไลน์ช้อป</a>
            <div class="dropdown-content">
                <div class="header">ร้านค้าออนไลน์</div>
                <div class="row">
                    <div class="column">
                        <h3>หมวดหมู่สินค้า</h3>
                        <a href="#">เครื่องแต่งกาย</a>
                        <a href="#">อุปกรณ์เสริม</a>
                        <a href="#">ของที่ระลึก</a>
                    </div>
                    <div class="column">
                        <h3>โปรโมชั่นพิเศษ</h3>
                        <a href="#">ส่วนลดสูงสุด</a>
                        <a href="#">แพ็คเกจของขวัญ</a>
                    </div>
                </div>
            </div>
        </li>

        <!-- บิ๊กไบค์ -->
        <li>
            <a href="#">บิ๊กไบค์</a>
            <div class="dropdown-content">
                <div class="header">Big Bike</div>
                <div class="row">
                    <div class="column">
                        <h3>รุ่นแนะนำ</h3>
                        <a href="#">MT Series</a>
                        <a href="#">R Series</a>
                        <a href="#">Tracer</a>
                    </div>
                    <div class="column">
                        <h3>กิจกรรม</h3>
                        <a href="#">ทริปพิเศษ</a>
                        <a href="#">งานแสดงสินค้า</a>
                    </div>
                </div>
            </div>
        </li>

        <!-- ศูนย์บริการ -->
        <li>
            <a href="#">ศูนย์บริการ</a>
            <div class="dropdown-content">
                <div class="header">บริการ</div>
                <div class="row">
                    <div class="column">
                        <h3>บริการของเรา</h3>
                        <a href="#">ซ่อมบำรุง</a>
                        <a href="#">ตรวจเช็คสภาพ</a>
                        <a href="#">การรับประกัน</a>
                    </div>
                    <div class="column">
                        <h3>ค้นหาศูนย์บริการ</h3>
                        <a href="#">ใกล้บ้านคุณ</a>
                        <a href="#">ค้นหาด้วยแผนที่</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="search-bar">
        <a href="#"><img src="images/search-icon.png" alt="Search"></a>
        <span>ค้นหา</span>
    </div>
</nav>