<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yamaha</title>
    <link rel="stylesheet" href="../stylesheets/cart.css"> <!-- Link to your stylesheet -->
</head>

<body>

    <!-- Include Navbar -->
    <%- include('partials/navbar') %>
<div class="flex-container">
    <div class="box left-box">
        <h3>Left Box</h3>
        <p>Content inside the left box.</p>
    </div>
    <div class="box right-box">
        <h3>Right Box</h3>
        <p>Content inside the right box.</p>
    </div>
</div>


</body>

</html>