<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yamaha</title>
    <link rel="stylesheet" href="../stylesheets/cart.css"> <!-- Link to your stylesheet -->
</head>

<body>

    <!-- Include Navbar -->
<nav class="mega-menu">
    <div class="logo">
        <a href="/">
            <img src="images/65th_logo_yamaha.webp" alt="Yamaha Logo">
        </a>
    </div>
</nav>

<div>
    <div class="show_img">
        <img src="/images/TYM_Eshop-banner-d.jpg" alt="Image Description">
        <div class="text_overlay">
            <span class="line1">VIEW CART</span>
            <span class="line2">ตะกร้าสินค้า</span>
            <div class="Box"></div>
        </div>
        
    </div>
</div>


<div class="flex-container">
    <div class="box left-box">
        <h3>Left Box</h3>
        <p>Content inside the left box.</p>
    </div>
    <div class="box right-box">
        <h3>Right Box</h3>
        <p>Content inside the right box.</p>
    </div>
</div>


</body>

</html>