<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Login</title>
</head>
<body>
  <body>
    <div class="login-container">
        <div class="login-box">
            <img src="images/65th_logo_yamaha.webp" alt="Logo" class="login-logo">
            <form>
                <div class="textbox">
                    <input type="text" placeholder="Username" name="username" required>
                </div>
                <div class="textbox">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <div class="textbox">
                  <input type="password" placeholder="Email" name="Email" required>
              </div>
                <button type="submit">Signup</button>
            </form>
            <div class="signup-link">
              <p>Already have an account <a href="signup.ejs"> Signup</a></p>
          </div>
        </div>
    </div>
</body>
</html>
