body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
    text-align: center;
  }
  
  .login-logo {
    width: 200px;  /* เพิ่มขนาดรูปภาพ */
    height: 150px; /* กำหนดความสูงให้เหมาะสม */
    object-fit: contain; /* ทำให้ภาพไม่ยืดหรือบิดเบี้ยว */
    margin-bottom: 5px;
  }
  
  .textbox {
    margin-bottom: 5px;
  }
  
  .textbox input {
    width: 80%;
    height: 30px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 60%;
    height: 50px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px
  }
  
  button:hover {
    background-color: #ee6161;
  }
  
  .signup-link {
    margin-top: 15px;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  